:root {
  --border: 1px solid #c8c8c8;
  --border-lt: 1px solid #e0e0e0;
  --text-med: 1.2em;
  --text-lt: #585858;
  --size0: 4px;
  --size1: 8px;
  --size2: 16px;
  --bg-lt-gray: #e8e8e8;
  --bg-white: #ffffff;
  --bg-dk-gray: #383838;
}

html, body {
  font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
}

h1 {
  font-size: 1.8em;
}

.back {
  margin-bottom: 16px;
  font-size: 1.4em;
  color: #808080;
}

.button {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  background: var(--bg-dk-gray);
  color: #f8f8f8;
}

.btn-sm {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  border-radius: 50%;
  background: var(--bg-dk-gray);
  color: #f8f8f8;
}

.json {
  padding: 8px;
  white-space: pre;
  font-size: 0.8em;
  color: #808080;
}
