.main {
  padding: var(--size2);
  background: var(--bg-white);
  font-size: var(--text-med);
}

.text {
  color: var(--text-lt);
  user-select: none;
}

.separator {
  color: var(--text-lt);
  user-select: none;
  padding: 0 var(--size0);
}
