.artist:first-of-type {
  border-top: var(--border);
}

.artist {
  padding: 8px 16px;
  font-size: 1.2em;
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: var(--border);
}
