.main {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  padding: var(--size2);
  background: var(--bg-lt-gray);
}

.controls {
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
}

.title {
  padding: var(--size1);
  font-size: var(--text-med);
}

.volume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--size1);
}

.volumeValue {
  position: relative;
  bottom: 10px;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--size1);
}

.timeValue {
  position: relative;
  top: 10px;
}

.barWrap {
  height: 6px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 var(--size0);
  background: var(--bg-white);
  border: 1px solid var(--color);
}

.bar {
  height: 100%;
  background: var(--color);
}
