.main {
  padding: var(--size2);
  background: var(--bg-lt-gray);
  gap: var(--size1);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--size2) 0;
}

.buttons {
  flex-shrink: 0;
}

.title {
  flex-grow: 1;
  padding: var(--size1);
  font-size: var(--text-med);
  text-overflow: ellipsis;
  white-space: pre;
  overflow: hidden;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.times {
  display: flex;
  justify-content: space-between;
  gap: var(--size1);
  margin-top: 4px;
}

.barWrap {
  height: 6px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 var(--size0);
  background: var(--bg-white);
  border: 1px solid var(--color);
}

.bar {
  height: 100%;
  background: var(--color);
}
