.main {
  padding: var(--size2);
  background: var(--bg-lt-gray);
}

.volume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #def;
}

.controls {
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #def;
}

.title {
  padding: var(--size1);
  font-size: var(--text-med);
}
