.main {
  display: flex;
  border-top: var(--border);
  background: var(--bg-lt-gray);
  color: var(--text-lt);
  user-select: none;
}

.next {
  flex-grow: 1;
  margin-left: var(--size2);
}

.status {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size2);
}

.buttons {
  padding: var(--size2);
}
