.main {
  display: flex;
  border-top: var(--border);
  background: var(--bg-lt-gray);
  color: var(--text-lt);
  user-select: none;
}

.status {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.numbers {
  margin-top: var(--size0);
  display: flex;
  gap: var(--size2);
}

.clear {
  padding: var(--size2);
}
