.main {
  padding: var(--size2);
}

.buttons {
  padding: var(--size1) 0;
}

.detailsSection {
  display: inline-block;
  margin-top: var(--size1);
  border: var(--border);
  background: var(--bg-lt);
}

.details {
  display: grid;
  grid-template-columns: auto auto;
  padding: var(--size0);
  color: var(--text-lt);
}

.details > * {
  padding: 2px var(--size0);
}
