.main {
  padding: 0 var(--size2) var(--size2) var(--size2);
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--size0);
  padding: var(--size2) 0;
  border-top: var(--border);
}

.label {
  padding-left: var(--size0);
}

.detailsSection {
  display: inline-block;
  border: var(--border);
  background: var(--bg-lt);
}

.details {
  display: grid;
  grid-template-columns: auto auto;
  padding: var(--size0);
  color: var(--text-lt);
}

.details > * {
  padding: 2px var(--size0);
}
